@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    font-family: 'Itim', cursive;
}

.logo {
    width: 250px;
    margin-top: 80px;
}

.v-input {
    padding-top: 20px;
    width: 65px;

}

.pay-button-link {
    display: flex;
    justify-content: center;
}

.go-to-pay-button {
    font-size: 18px;
    color: white;
    display: flex;
    align-content: center;

    border-radius: 150px;
    padding: 35px 40px !important;
    background-color: #4ed052;
    position: fixed;
    bottom: 0;
}